@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body{
    background-image: linear-gradient(to right,#7cb2d6,#b1c0ca);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4664797a;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;

}

h1{
color: #5285a7;
text-align: center;
text-shadow: 1px 1px 2px #46647975;
}
h2{
color:#86a1a8 ;
}