@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Ifinite';
    src: url(fontes/Infinite\ Darkness.otf) format('opentype');
}
*{
margin: 0;
padding: 0;
}

:root{

    --cor0:#640b0a;
    --cor1:#490202; 
    --cor2:#9c0000;
    --cor3:#ff1100;
    --cor4:#DE0400;

    --fonte-destacada:'Bebas Neue', cursive;
    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-titulo: 'Infinite',cursive;

}

header{
    background-image: linear-gradient(to bottom,var(--cor4) ,var(--cor2), var(--cor1) ) ;
    max-width: 100%;
    padding-top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 30px;
    position: relative;

}

body{
    background-image: linear-gradient(to bottom,rgb(15, 15, 15) ,rgb(27, 27, 27) );
    width: 100%;

}

nav{
 
    background-color:  #00000075 ;
    font-family: var(--fonte-padrao);
    padding: 20px;
   
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.712);
    text-align: center; 
    backdrop-filter: blur(5px);
}

header>h1{
    
    font-family: 'Ifinite',cursive;
    font-size: 3em;
    filter: drop-shadow(6px 6px 10px #121212);
    padding-bottom: 40px;
   
    font-weight: normal;
    text-decoration:overline;
}

nav h2{
    display: none;
}
header>p{
    
    font-family: var(--fonte-destacada);
    font-size: 1.6em;
    background-color: rgba(0, 0, 0, 0.534) ;
    border-radius: 10px ;
    max-width: 570px; 
    padding: 10px;
    margin: auto;
    
    transition-delay: 0.2s ;
    transition-duration: 0.5s;
    font-weight: normal;
    
}

header>p:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
    border-left:solid white ;
    border-right: solid white;
    filter: drop-shadow(0px 8px 10px #ff0000);
    position: relative;
}

article>p{
    font-family:Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
article>h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: var(--cor2);
    text-decoration: underline;
    margin-bottom: 10px;  
}
  label span:nth-child(1){
    top: 0;
  }
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
.cel{
    position: absolute;
    opacity: 0;
    display: none;
}

.menusite {
    margin:0px;
    padding: 0px;
}
.menusite a{
    color: white;
    font-style: normal;
    text-decoration: none;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition-duration: 0.4s;
    position: relative;

}

.menucel{
    display: none;
}

.menusite a:hover{

    width: 100%;
    
    background: rgb(3, 3, 3);
    color: var(--cor3);
    filter: drop-shadow(0px 0px 6px var(--cor3));
    border-radius: 70px;
}

@media screen and (max-width:600px) {
   .menusite{
       display: none;
   }
    nav{
        display: flex;
        position: relative;
        padding: 10px;
        justify-content: space-between;
        
        
        
    }

    header>h1{
        margin-bottom: -40px ;
    }
   .menucel{
       position: relative;
       display: inline-flex;
       width: 25px;
       padding: 5px;
       justify-content: left;
       
   }
   .menu a{
       text-decoration: none;
       font-style: normal;
       font-family: Arial, Helvetica, sans-serif;
       color: white;
       padding: 10px 10px;
       transition-duration: 0.4s;
       
   }
.menu {
        display: none;
        position: absolute;
        width: 150px;
       margin-top: 25px;
        text-align: left;
    
}

label{
    
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
    filter: drop-shadow(3px 2px 3px var(--cor3));

  }

  label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    transition: 0.25s ease-in-out;
    
  }
.menucel:hover>.menu{
   
   display: flex;
   flex-direction:column;
   box-shadow: 0px 10px 10px rgba(32, 32, 32, 0.24);
   backdrop-filter: blur(2px);
   background-color: #131313b6;
 
}

.menucel:hover{
      position: relative;
}
.menu a:hover {
    background-color: #000000;
    border-left: 10px solid var(--cor4);
    color: var(--cor3);
}
.menucel:hover  label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
   }
    .menucel:hover  label span:nth-child(2){
  opacity: 0;
}
.menucel:hover  label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
    }

   footer>.redes>a{

    margin:0px 25px 0px 25px;
    width: 100%;

   }
   
}


main{
display: block;
background-color: #202020;
padding: 30px;

max-width: 1000px;
margin: auto;
color: white;
box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.226);
}

footer{
    padding: 30px 0px 10px 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #080808;
    align-items: center; 
   width: 100%;}

footer>h3{
    display: block;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px; 
    background-color: #000000;
    border: solid white;
    border-radius: 10px;
    }

.imagens{
   
    
    max-width: 60px;
    max-height: 60px;
    margin: 0px 10px 0px 10px;
    background-color: white;
    border-radius: 100px;
    border: solid rgb(255, 255, 255) ;
  
    transition-duration: 0.3s ;
}


footer p{
   
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}
.footerfinal{
       
    
    font-size:xx-small;
    }
.redes {
   padding: 80px 0px ;
    margin: auto;
}

.redes>a{
  
    padding: 0px;
    border: none;
    width: 60px;  
    height: 60px;
    margin: 0px 40px 0px 40px;
    max-width: 100%;
  

}

.redes a :hover{
    filter: drop-shadow(0px 0px 12px rgb(255, 0, 0)
    );
    border: solid red;
   background-color: #DE0400;
    
}