@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    }


    main{
        display: block;
        background-color: #1a1a1a;
        padding: 30px;
        
        max-width: 1000px;
        margin: auto;
        color: white;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.226);
        
        }
        

        article>p{
            font-family:Arial, Helvetica, sans-serif;
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            line-height: 2em;
            font-size: 1em;
        }

article>h2{
    text-align: center;
}
        .titulo{
            
            
            padding: 15px;
           
            
           
            width: max-content;
            border-radius: 20px;
            margin: auto;
           
           
            

        }
        .titulo h1{
            font-family: Arial, Helvetica, sans-serif;

            font-weight: bolder;
            font-style: normal;
            color: rgb(255, 255, 255);
            text-align: center;
         
            padding: 5px;
            
            
        }
        img{
            width: 100%;
            margin: 20px 0px;
     
     
          
        }
        
        div.fundovideo{
            position: relative;
            padding: 5px;
            margin: 0px 0px 30px 0px;
            position: relative;
            padding-top: 56%;   
            border-radius:20px; 
             
        }
        
        .boss{
            background-color: #1b1b1b;
            text-align: left;
            padding: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color:  #ffffff;
          
           
            border-left: solid rgb(255, 0, 0);

            
            width: 100%;
            padding: 0px -30px ;
         
           
        }
        .responsivo{
            position: absolute;
            top: 5%;
            left: 5%;
            bottom: 0;
            right: 0;
            width: 90%;
            height: 90%;
        }