@charset "UTF-8";



*{
margin: 0;
padding: 0;
}


@media screen and (max-width:600px) {


   main{
    text-align: center;
   }
  main .noticias{
    display: block;
    margin: auto;
    text-align: center;
  }

  main .res{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


main{
display: block;
background-color: #202020;
padding: 30px;

max-width: 1000px;
margin: auto;
color: white;
box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.226);
text-align: center;
}
.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
   
    
}

.noticias p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 0.8em;
}
.noticias>a{
    display: inline-block;
   
    color: wheat;
    font-style: normal;
    text-decoration: none;
    font-size: 2em;
    padding: 10px 0px 10px 0px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.noticias img{
    padding: 20px 0px 20px 0px;
    max-width: 750px;
    
    width: 100%;
   
   
    
}

.noticias>a:hover{
    color: #DE0400;
    font-style: normal;
    
    filter: drop-shadow(0px 0px 8px rgb(255, 0, 0)
    );
    
    

}

.imagens{
   
    
    max-width: 60px;
    max-height: 60px;
    margin: 0px 10px 0px 10px;
    background-color: white;
    border-radius: 100px;
    border: solid rgb(255, 255, 255) ;
  
    transition-duration: 0.3s ;
}


.veja{
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.veja img{
    max-width: 250px;
    padding: 10px;
    width: 100%;
}
section .links{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 200px;
    width: 812px;
  
     
     
   
     
 }
 
 .links a{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-decoration: none;
     width: 100%;
     
 }
 
 
 .links a:hover{
     color: #DE0400;
     filter: drop-shadow(0px 0px 8px red);
 }
